<%- include("header") -%>

    <body class="body-apropos">
        <main class="back-apropos">
            <div class="apropos">
                <h1>Qui sommes-nous ? </h1>
                <p>"Nous sommes ceux qui transforment vos week-ends en aventures, vos moments en plein air en souvenirs
                    mémorables, et qui vous prêtent ce que vous n’avez pas besoin d’acheter. En clair, on vous offre
                    tout le matériel de sport dont vous rêvez, sans les contraintes !

                    Vous voulez tout savoir ? Chez LocFit, on est avant tout des passionnés, des fanas d’évasion, des
                    aventuriers dans l’âme, et un peu philosophes sur les bords : pour nous, le sport est une façon de
                    vivre, de respirer, de se dépasser. On croit que vous n'avez pas besoin de posséder des tonnes de
                    matos, juste besoin d'avoir accès au bon équipement, au bon moment.</p>
            </div>
        </main>

        <%- include("footer") -%>