<%- include("header") -%>

    <body>
        <main>
            <div id="catalogue_acc">
                <h3> Nos produits</h3>
                <div id="preference">
                    <p>Affichage du prix par...</p>
                    <div id="boutons_preference">
                        <button>Jour</button>
                        <button>Semaine</button>
                        <button>Mois</button>
                    </div>
                </div>
                <div id="catalogue_filtre">
                    <p>Filtres</p>
                    <div id="boutons_filtre">
                        <button>Altères</button>
                        <button>Machines à câble</button>
                        <button>Poids libres</button>
                        <button>Vélos d'exercice</button>
                    </div>
                    <form action="barre_recherche">
                        <input type="search" name="search" placeholder="Rechercher...">
                    </form>
                </div>

            </div>
            <div id="collection">
                <div class="box" id="box1">
                    <img src="/img/equipement_sport/altere.png" alt="">
                    <h4>Modèle</h4>
                    <div id="catalogue_prix">
                        <p id="prix">45€ </p>
                        <p> /mois</p>
                    </div>
                    <button id="savoir_plus">En savoir plus</button>
                </div>
            </div>


        </main>
        <footer>
            <%- include("footer") -%>
        </footer>