<%- include("header") -%>

    <body>
        <main>
            <div id="catalogue_acc">
                <h3> Nos produits</h3>
                <div id="preference">
                    <p>Affichage du prix par...</p>
                    <div id="boutons_preference">
                        <button>Jour</button>
                        <button>Semaine</button>
                        <button>Mois</button>
                    </div>
                </div>
                <div id="filtre">
                    <p>Filtres</p>
                    <div id="boutons_filtre">
                        <button>Altères</button>
                        <button>Machines à câble</button>
                        <button>Poids libres</button>
                        <button>Vélos d'exercice</button>
                    </div>
                    <form action="barre_recherche">
                        <input type="search" name="search" placeholder="Rechercher...">
                    </form>
                </div>

            </div>
            <div id="collection">
                <div class="box" id="box1">
                    <img src="/img/equipement_sport/altere.png" alt="">
                    <h4>Modèle</h4>
                    <div id="catalogue_prix">
                        <p id="prix">45€ </p>
                        <p> /mois</p>
                    </div>
                    <button id="savoir_plus">En savoir plus</button>
                </div>
            </div>

            <div id="fonctionnement_boite">
                <div>
                    <img src="/img/altere_icon.png" alt="altère">
                    <p>Choisissez le matériel</p>
                    <p>qui vous convient</p>
                </div>
                <div>
                    <img src="/img/calendrier_icon.png" alt="calendrier">
                    <p>Déterminez la durée</p>
                    <p>de votre location</p>
                </div>
                <div>
                    <img src="/img/camion_icon.png" alt="camion">
                    <p>Choisissez la date et</p>
                    <p>le lieu de la livraison</p>
                </div>
                <div>
                    <img src="/img/coche_icon.png" alt="coche">
                    <p>Faites-vous livrer</p>
                    <p>votre matériel !</p>
                </div>
            </div>


        </main>
        <footer>
            <%- include("footer") -%>
        </footer>