<%- include("header") -%>
<body>
    <main class="connect">
        <div class="boite-connect">
            <section class="titre-connect">

            </section>

            <form>
                <input type="text" name="Email" />
                <input type="text" name="MP" />
                <input type="submit" name="MP" />
            </form>
        </div>
    </main>

    <%- include("footer") -%>