<%- include("header") -%>

    <body class="connexion_body">
        <main class="connect">
            <div class="boite-connect">
                <section class="titre-connect">
                    <h1>Se connecter</h1>
                </section>

                <%= error %>

                <form class="boom" method="post" action="/auth/connexion">
                    <input class="con" type="text" name="login" placeholder="login..." />
                    <input class="con" type="password" name="password" placeholder="mot de passe..." />
                    <input class="but-con" type="submit" name="MP" value="connexion"/>
                </form>
            </div>
        </main>

        <%- include("footer") -%>