<%- include("header") -%>

    <body class="connexion_body">
        <main class="connect">
            <div class="boite-connect">
                <section class="titre-connect">
                    <h1>Se connecter</h1>
                </section>

                <form class="boom">
                    
                    <input class="con" type="text" name="Email" placeholder="   Email" />
                    <input class="con" type="password" name="MP" placeholder="  Mot de passe..." />
                    <input class="but-con" type="submit" name="MP" value="connexion"/>
                    
                </form>
            </div>
        </main>

        <%- include("footer") -%>