<%- include("header") -%>

    <body class="conect">
        <div class="boite-conect">
            <section class="titre-conect">

            </section>

            <form>
                <input type="text" name="Email" />
                <input type="text" name="MP" />
                <input type="submit" name="MP" />
            </form>
        </div>
    </body>

    <%- include("footer") -%>