<%- include("header") -%>

    <body>
        <section class="detail">
            <img class="img-detail" src="/img/equipement_sport/altere.png" alt="">
            <div class="text">
            <ul class="ul-detail">
                <li class="li-detail">Modèle Altère</li>
                <li class="li-detail">Type</li>
                <li class="li-detail">Marque</li>
                <li class="li-detail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ea voluptates neque minima quia
                    dolorum, aliquid doloremque, tenetur, rem quam nobis laudantium vero fuga expedita quidem obcaecati
                    soluta non totam.</li>
            </ul>
            <div class="bas">
                <p>etat</p>
                <p class="prilo">45€</p>
            </div>
        </div>
        </section>

        <div class="marg" id="preference">
            <p>Affichage du prix par...</p>
            <div id="boutons_preference">
                <button>Jour</button>
                <button>Semaine</button>
                <button>Mois</button>
            </div>
        </div>

        <section class="location"></section>


        <%- include("footer") -%>