<%- include("header") -%>

    <body>
        <section class="detail">
            <img class="img-detail" src="/img/equipement_sport/altere.png" alt="">
            <div class="text">
                <ul class="ul-detail">
                    <li class="li-detail" id="titre-detail">Modèle Altère</li>
                    <li class="li-detail">Type</li>
                    <li class="li-detail">Marque</li>
                    <li class="li-detail">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae ea voluptates
                        neque minima quia
                        dolorum, aliquid doloremque, tenetur, rem quam nobis laudantium vero fuga expedita quidem
                        obcaecati
                        soluta non totam.</li>
                </ul>
                <div class="bas">
                    <p>etat</p>
                    <p class="prilo">45€</p>
                </div>
            </div>
        </section>

        <div class="bf marg">
            <div>Filtres</div>
            <div id="boutons_filtre">
                <button>Jour</button>
                <button>Semaine</button>
                <button>Mois</button>
            </div>
        </div>
        <main class="det">
            <section class="location">
                <h2 class="titre-loc"> Vous voulez louer le **type** **modèle** de la marque **marque** à
                    **prix**/**jour** ? </h2>
                <form class="">
                    <div class="dat">
                        <label>date de début
                            <input class="date-input" type="date">
                        </label>
                        <label>date de fin
                            <input class="date-input" type="date">
                        </label>
                    </div>
                    <div class="question">
                        <p>Avez-vous déjà un compte client ?
                            <input type="radio" id="oui" name="choix" value="oui">
                            <label class="label_details" for="oui">Oui</label>

                            <input type="radio" id="non" name="choix" value="non">
                            <label class="label_details" for="non">Non</label>
                        </p>
                    </div>
                    <div id="form-loc">
                        <div id="haut">
                            <input id="inp-loc" type="text" name="nom" placeholder="  votre nom">
                            <input id="inp-loc" type="text" name="prenom" placeholder="  votre prénom">
                        </div>
                        <div id="bas">
                            <input id="inp-loc" type="email" placeholder="  votre mail">
                            <input id="inp-loc" type="tel" placeholder=" téléphone">
                        </div>
                    </div>
                    <div class="is">
                    <input id="inp-sub" class="but-con" type="submit" value="Louer">
                </div>

            </section>

          

        </main>

     
        <%- include("footer") -%>