<%- include("header") -%>

    <body>
        <main>
            <div id="titre">
                <h1>F.A.Q.</h1>
            </div>
            <div class="questions">
                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq1">Question 1</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq1" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>

                </div>

                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq2">Question 2</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq2" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>
                </div>

                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq3">Question 3</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq3" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>
                </div>

                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq4">Question 4</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq4" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>
                </div>

                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq5">Question 5</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq5" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>
                </div>

                <div class="faq-question">
                    <div id="quest-img">
                        <label class="question" for="faq6">Question 6</label>
                        <img src="/img/fleche_bas.png" alt="">
                    </div>
                    <input class="faq_input" id="faq6" type="checkbox" name="faq">
                    <div class="reponse">Réponses</div>
                </div>
        </main>

        <%- include("footer") -%>