<footer class="footer_background">
    <div>
        <div class="footer_cta">
            <h1 class="footer_locfit">Locfit</h1>
            <p>Inscrivez-vous à notre newsletter !</p>
        </div>

        <div>
            <img src="/img/Instagram.png" alt="logo instagram">
            <img src="/img/TwitterX.png" alt="logo x">
            <img src="/img/Facebook.png" alt="logo facebook">
            <img src="/img/Post Office.png" alt="logo mail">
        </div>
    </div>
    <div class="footer_categories">
        <div class="footer_catalogue">
            <h2>Catalogue</h2>
            <ul>
                <li><a href="">Altères</a></li>
                <li><a href="">Machines à cables</a></li>
                <li><a href="">Poids libres</a></li>
                <li><a href="">Vélos d'exercice</a></li>
            </ul>
        </div>
        <div class="footer_fonctionnement">
            <h2>Fonctionnement</h2>
            <ul>
                <li><a href="">F.A.Q.</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Livraison</a></li>
            </ul>
        </div>
        <div class="footer_apropos">
            <h2>A propos</h2>
            <ul>
                <li><a href="">Notre histoire</a></li>
                <li><a href="">Accessibilité</a></li>
                <li><a href="">Mentions légales</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>