<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locfit - Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/layout.css">
    
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/catalogue.css">
    <link rel="stylesheet" href="/css/apropos.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/locations.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/inscription.css">
    <link rel="stylesheet" href="/css/connexion.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav>
        <ul id="menu_page">
            <div id="position">
                <li class="left"><a class="nav_lien" href="/" alt="Accueil">Accueil</a></li>
                <li class="left"><a class="nav_lien" href="/catalogue" alt="">Catalogue</a></li>
                <li class="left"><a class="nav_lien" href="/faq" alt="">F.A.Q</a></li>
                <li class="left"><a class="nav_lien" href="/apropos" alt="">A propos</a></li>
            </div>
            <div id="position">
                <li class="right" id="inscription"><a class="nav_lien" href="/inscription" alt="">S'inscrire</a></li>
                <li class="right" id="login"><a class="nav_lien" href="/connexion" alt="">Se connecter</a></li>
            </div>
        </ul>

        <div id="locfit">
            <a id="locfit_titre" href="/" alt="Accueil">Locfit</a>
        </div>

    </nav>