<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locfit</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/layout.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <ul id="menu_page">
            <div id="position">
                <li class="left"><a href="" alt="">Accueil</a></li>
                <li class="left"><a href="" alt="">Catalogue</a></li>
                <li class="left"><a href="" alt="">F.A.Q</a></li>
                <li class="left"><a href="" alt="">A propos</a></li>
            </div>
            <div id="position">
                <li class="right" id="inscription"><a href="" alt="">S'inscrire</a></li>
                <li class="right" id="login"><a href="" alt="">Login</a></li>
            </div>
        </ul>
        <ul>
            <li class="locfit"><a href="" alt="">Locfit</a></li>
        </ul>
    </nav>
