<%- include("header") -%>
<body class="index_body"> 
    <main>
        <div > 
            <h2>Boostez votre capital séduction</h2>
            <h2>en travaillant à la maison</h2>
            <button id="bouton_accueil">
                <p>Découvrez</p>
                <img src="/img/arrow_right.png" alt="fleche vers la droite">
            </button>
        </div>


    </main>  

<%- include("footer") -%>