<%- include("header") -%>
    <main>
        <nav>
            <ul id="menu_page">
                <li><a href="" alt="">Accueil</a></li>
                <li><a href="" alt="">Catalogue</a></li>
                <li><a href="" alt="">F.A.Q</a></li>
                <li><a href="" alt="">A propos</a></li>
            </ul>
            <ul id="locfit">
                <li><a href="" alt="">Locfit</a></li>
            </ul>
            <ul id="menu_connexion">
                <li><a href="" alt="">Login</a></li>
                <li><a href="" alt="">S'inscrire</a></li>
            </ul>
        </nav>
    </main>

    <%- include("footer") -%>