<%- include("header") -%>



    <body class="index_body">
        <main>


            <div id="text-accueil">
                <!--
                <% user.forEach(function(element){ %>
                    <%= element.login %>
                        <% }); %>
                -->
                <div id="accueil_titre">
                    <h1>Boostez votre capital séduction en travaillant à la maison</h1>
                    <button id="bouton_accueil">
                        Découvrez
                        <img src="/img/arrow_right.png" alt="fleche vers la droite">
                    </button>
                </div>

                <div id="reseaux_sociaux">
                    <div>
                        <a href=""></a><img src="/img/Instagram.png" alt="Instagram"></a>
                    </div>
                    <div>
                        <a href=""></a><img src="/img/TwitterX.png" alt="Twitter"></a>
                    </div>
                    <div>
                        <a href=""><img src="/img/Facebook.png" alt="Facebook"></a>
                    </div>
                </div>
            </div>
            <div id="informations">
                <div>
                    <img src="/img/info_icon.png" alt="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ligula sit amet </p>
                </div>
                <div>
                    <img src="/img/info_icon.png" alt="info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ligula sit amet </p>
                </div>
            </div>

            <div class="nouveautes_index">
                <h1>Nos nouveautés</h1>
                <div class="images_accueil">
                    <div><a href="/catalogue"><img src="/img/cyclebench_acc.png" alt=""></a></div>
                    <div><a href="/catalogue"><img src="/img/ellipticalbench_acc.png" alt=""></a></div>
                    <div><a href="/catalogue"><img src="/img/myrunbench_acc.png" alt=""></a></div>
                </div>
            </div>

            <div class="recherche_produit_index">
                <form action="/catalogue" method="post">
                    <h1>Vous recherchez un produit ?</h1>

                    <div class="boite_formulaire">
                        <div>
                            <label for="materiel">Matériel</label>
                            <input id="materiel_form" type="text"/>
                        </div>
                        <div>
                            <label for="prix">Prix</label>
                            <input id="prix_form" type="text"/>
                        </div>
                        <div>
                            <label for="duree">Durée</label>
                            <input id="duree_form" type="number" placeholder="Semaines" : />
                        </div>
                        <div>
                            <button type="submit">Rechercher<img src="/img/arrow_right.png" alt="fleche vers la droite">
                            </button>
                        </div>
                    </div>
                    <div>
                        <p>Filtres</p>
                        <div id="boutons_filtre">
                            <button>Altères</button>
                            <button>Machines à câble</button>
                            <button>Poids libres</button>
                            <button>Vélos d'exercice</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="bas_vert_index">

                <div id="fonctionnement_boite">
                    <div>
                        <img src="/img/altere_icon.png" alt="altère">
                        <p>Choisissez le matériel</p>
                        <p>qui vous convient</p>
                    </div>
                    <div>
                        <img src="/img/calendrier_icon.png" alt="calendrier">
                        <p>Déterminez la durée</p>
                        <p>de votre location</p>
                    </div>
                    <div>
                        <img src="/img/camion_icon.png" alt="camion">
                        <p>Choisissez la date et</p>
                        <p>le lieu de la livraison</p>
                    </div>
                    <div>
                        <img src="/img/coche_icon.png" alt="coche">
                        <p>Faites-vous livrer</p>
                        <p>votre matériel !</p>
                    </div>
                </div>
            </div>
        </main>

        <%- include("footer") -%>