<%- include("header") -%>
    <main>
        <nav>
            <ul id="menu_page">
                <div id="position">
                    <li class="left"><a href="" alt="">Accueil</a></li>
                    <li class="left"><a href="" alt="">Catalogue</a></li>
                    <li class="left"><a href="" alt="">F.A.Q</a></li>
                    <li class="left"><a href="" alt="">A propos</a></li>
                </div>
                <div id="position">
                    <li class="right"><a href="" alt="">Login</a></li>
                    <li class="right"><a href="" alt="">S'inscrire</a></li>
                </div>
            </ul>
            <ul>
                <li class="locfit"><a href="" alt="">Locfit</a></li>
            </ul>
        </nav>
    </main>

    <%- include("footer") -%>