<%- include("header") -%>
<body class="index_body"> 
    <main>
        <div id="text-accueil" > 
            <h1>Boostez votre capital séduction</h1>
            <h1>en travaillant à la maison</h1>
            <button id="bouton_accueil">
                Découvrez
                <img src="/img/arrow_right.png" alt="fleche vers la droite">
            </button>
        </div>


    </main>  

<%- include("footer") -%>