<%- include("header") -%>

    <body class="connexion_body">
        <main class="connect">
            <div class="boite-connect">
                <section class="titre-connect">

                </section>

                <form>
                    <div class="nom">
                        <input type="text" name="name" />
                        <input type="text" name="nicknam" />
                    </div>

                    <div class="compte">
                        <input type="text" name="Email" />
                        <input type="text" name="MP" />
                    </div>
                    <input type="submit" name="MP" />
                </form>
            </div>
        </main>

        <%- include("footer") -%>