<%- include("header") -%>

    <main class="connect">
        <div class="boite-connect">
            <section class="titre-connect">
                <h1> Créer un compte </h1>
            </section>

            <form>
                <div class="name">
                    <input type="text" name="Nom" />
                    <input type="text" name="Prénom" />
                </div>
                <div class="compte">
                    <input type="text" name="Email" />
                    <input type="text" name="MP" />
                </div>
                <input type="submit" name="MP" />
            </form>
        </div>
    </main>

    <%- include("footer") -%>