<%- include("header") -%>

    <body class="connexion_body">
        <main class="connect">
            <div class="boite-insc">
                <section class="titre-connect">
                    <h1> Créer un compte client </h1>
                </section>

                <form class="insc">
                    <div class="nom">
                        <input class="con" type="text" name="name" placeholder="   Nom"/>
                        <input class="con" type="text" name="nicknam" placeholder="   Prénom"/>
                    </div>

                    <div class="compte">
                        <input class="con" type="text" name="Email" placeholder="   Email" class="mail"/>
                        <input class="con" type="text" name="MP" placeholder="   Mot de passe..."/>
                    </div>
                    <input class="but-con" type="submit" name="MP" value="inscription"/>
                </form>
            </div>
        </main>

        <%- include("footer") -%>