<%- include("header") -%>

    <body>
        <main>

            <h1></h1>
            <section class="filtre">
                <p>Filtres</p>
                <ul class="list-filtre">
                    <li>Passé</li>
                    <li>En cours</li>
                    <li>En retard</li>
                    <li>Problème</li>
                </ul>
                <input type="text" name="Recherche ..." />
            </section>

            <section class="liste">

                <div class="case">
                    <img>
                    <div class="text-info">
                        <ul class="liste-haut" id="gauche">
                            <li>00 € /mois</li>
                            <li>Modèle</li>
                            <li>date début</li>
                            <li>date fin</li>
                        </ul>
                        <ul class="liste-haut" id="droit">
                            <li>date début</li>
                            <li>date fin</li>
                        </ul>
                        <p>Loué par : </p>

                        <div class="infos-droit">
                            <p class="etat-loc"> en cours</p>
                            <button>en savoir plus</button>
                        </div>
                    </div>

                </div>


                <div class="case">
                    <img>
                    <div class="text-info">
                        <ul class="liste-haut" id="gauche">
                            <li>00 € /mois</li>
                            <li>Modèle</li>
                            <li>date début</li>
                            <li>date fin</li>
                        </ul>
                        <ul class="liste-haut" id="droit">
                            <li>date début</li>
                            <li>date fin</li>
                        </ul>
                        <p>Loué par : </p>

                        <div class="infos-droit">
                            <p class="etat-loc"> en cours</p>
                            <button>en savoir plus</button>
                        </div>
                    </div>

                </div>

            </section>

        </main>

        <%- include("footer") -%>