.footer_categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0;
    margin-left: 25%;
}

.footer_categories li {
    list-style-type: none;
}

.footer_categories li a {
    text-decoration: none;
    color: #ffff;
    margin-bottom: 3%;
    width: 200px;
}

.footer_categories div {
    margin: 5%;
    margin-top: 0;
    width: 70%;
}

.footer_categories ul {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    flex-wrap: nowrap;
    padding-left: 0;
}

.footer_categories h2 {
    font-size: 1.1rem;
}

.footer_background {
    color: #ffff;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: 300;
}

.footer_background div:first-child {
    margin-left: 3%;
}

.footer_locfit {
    font-family: "Anton";
    font-weight: 300 ;
}

.footer_catalogue {
    width: 300px;
}

.footer_logos img{
    max-width: 50px;
    max-height: 50px;
    margin-top: 15%;
}

a{
    text-decoration : none;
    color : black;
}

li a {
    display: block;
}

ul li{
    list-style-type : none;
    padding-right : 2%;
    float: left;
}

#menu_page{

    padding-left : 1%;
    padding-right : 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right : 0.5%;
 

}
.right{
   
    float : right ; 
    z-index : 1;
}

.left{

    z-index : 1;
    padding-top : 1.5%;
}

.locfit{
    margin-top : -4%;
    left : 50%;
    transform: translate(1150%);
    padding : 0; 
    z-index : 10;
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
}

nav{
    width : 100%;
}

#logo{
    text-decoration: none;
}

#position{
    width : 50%;
}

#inscription{
    background-color: #7E8645;
    border-radius : 20px;
    padding : 1.5%;
    padding-left: 2%;
    padding-right : 2%;
    margin-right : 1%;

}

#inscription a{
    color : white; 
}

#login{
    padding-top: 1.5%;
}


#bouton_accueil {
    display : flex; 
    flex-direction: row;
    background-color : white;
    border : solid white ; 
    border-radius: 18px;
    font-size: 1.3em;
    margin-left : 3%;
    padding: 0.8%;
    padding-left : 2%;
    padding-right : 1%;
}


#bouton_accueil img{
    padding-top : 6%;
    padding-left : 8%;
    width :15%;
}

#text-accueil h1{
    font-size: 2.5rem;
    font-family :  "Inter";
    font-weight: 350;
    letter-spacing: 1.3px;
    color : white;
    margin-left : 3%;
    padding-left : 0;
}

#text-accueil{
    padding-top: 20%;
}

main{
    margin-bottom: 10%;
}

.images_accueil img{
    width : 100%;
}
.images_accueil{
    display : flex; 
    flex-direction: row;
}

#reseaux_sociaux{
    display: flex ;
    flex-direction: column;
}

#reseaux_sociaux img{
    width : 60%;
}

#fonctionnement_boite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius : 10px;
    justify-content : space-evenly; 
    margin-top: 20%;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;

}


#fonctionnement_boite img {
    width : 60%;
    padding-left : 20%;
    padding-bottom : 8%;
}

#fonctionnement_boite p {
    padding : 0;
    margin : 0;
    text-align: center;
}


/* composant connexion/inscription */
.boite-connect{
    display: flex;
    flex-direction: column;
   margin-top: 5%;
    width: 450px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 1pc;
  }
  
  main.connect{
    display: flex;
    justify-content: center;
  }
