.footer_categories {
    display: flex;
    flex-direction: row;
}

.footer_categories li {
    list-style-type: none;
}

.footer_categories li a {
    text-decoration: none;
    color: #ffff;
    margin: 1%;
}

.footer_categories div {
    margin: 2%;
}

.footer_background {
    color: #ffff;
}
a{
    text-decoration : none;
    color : black;
}

li a {
    display: block;
}

ul li{
    list-style-type : none;
    padding-right : 2%;
    float: left;
}

#menu_page{

    padding-left : 1%;
    padding-right : 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right : 0.5%;
 

}
.right{
   
    float : right ; 
    z-index : 1;


}

.left{

    z-index : 1;
    padding-top : 1.5%;
}

.locfit{
    margin-top : -4%;
    left : 50%;
    transform: translate(1150%);
    padding : 0; 
    z-index : 10;
    font-family: "Anton", sans-serif;
    font-size: 1.5em;
}

nav{
    width : 100%;
}

#logo{
    text-decoration: none;
}

#position{
    width : 50%;
}

#inscription{
    background-color: #7E8645;
    border-radius : 20px;
    padding : 1.5%;
    padding-left: 2%;
    padding-right : 2%;
    margin-right : 1%;

}

#inscription a{
    color : white; 
}

#login{
    padding-top: 1.5%;
}



#bouton_accueil{
    display : flex; 
    flex-direction: row;
    background-color : white;
    border : solid white ; 
    border-radius: 30px;
    font-size: 1.3em;
    margin-left : 3%;
}


#bouton_accueil img{
    padding-top : 17%;
    padding-left : 6%;
    width :20%;
}