 /* --- footer --- */

 .footer_categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0;
    margin-left: 25%;
}

.footer_categories li {
    list-style-type: none;
}

.footer_categories li a {
    text-decoration: none;
    color: #ffff;
    margin-bottom: 3%;
    width: 200px;
}

.footer_categories div {
    margin: 5%;
    margin-top: 0;
    width: 70%;
}

.footer_categories ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 0;
}

.footer_categories h2 {
    font-size: 1.1rem;
}

.footer_background {
    color: #ffff;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: 300;
    z-index: 1;
}

.footer_background div:first-child {
    margin-left: 3%;
}

.footer_locfit {
    font-family: "Anton";
    font-weight: 300;
}

.footer_catalogue {
    width: 300px;
}

.footer_logos img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 15%;
}

.footer_cta p {
    width: 110%;
}

/* --- Header --- */

a {
    text-decoration: none;
    color: black;
}

li a {
    display: block;
}

ul li {
    list-style-type: none;
    padding-right: 4%;
    float: left;
}

#menu_page {

    padding-left: 1%;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5%;
}

.right {

    float: right;
    z-index: 1;
}

.left {

    z-index: 1;
    padding-top: 1.5%;
}

#locfit {
    margin-top: -4%;
    text-align: center;
    /*left : 50%;*/
    /*transform: translate(1150%);*/
    padding: 0;
    z-index: 10;
    font-family: "Anton", sans-serif;
    font-size: 2.4em;
}


nav {
    width: 100%;
}

#logo {
    text-decoration: none;
}

#position {
   width: 50%;
   font-size: 1.3rem;
}


#inscription {
    background-color: #7E8645;
    border-radius: 20px;
    padding: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 1%;

}

#inscription a {
    color: white;
}

#login {
    padding-top: 1.5%;
}

/* --- index --- */


#bouton_accueil {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid white;
    border-radius: 18px;
    font-size: 1.3em;
    margin-left: 3%;
    padding: 0.8%;
    padding-left: 2%;
    padding-right: 1%;
}


#bouton_accueil img {
    padding-top: 6%;
    padding-left: 8%;
    width: 15%;
}

#text-accueil h1 {
    font-size: 2.5rem;
    font-family: "Inter";
    font-weight: 350;
    letter-spacing: 1.3px;
    color: white;
    margin-left: 3%;
    padding-left: 0;
}

#text-accueil {
    padding-top: 20%;
}

main {
    margin-bottom: 10%;
    z-index: 5;
}

.images_accueil img {
    width: 90%;
}

.images_accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images_accueil img {
    margin: 1%;
}

.images_accueil a {
    margin: 0;
    padding: 0;
}

#reseaux_sociaux {
    display: flex;
    flex-direction: column;
}

#reseaux_sociaux img {
    max-width: 50px;
    max-height: 50px;
}

#fonctionnement_boite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-top: 20%;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;

}


#fonctionnement_boite img {
    width: 60%;
    padding-left: 20%;
    padding-bottom: 8%;
}

#fonctionnement_boite p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.white {
    color: white;
}

.bas_vert_index {
    padding-top: 5%;
}

/* --- page catalogue --- */

#preference {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

#preference p {
    padding: 0;
    margin: 0;
    width: 17%;
}

#filtre {
    display: flex;
    flex-direction: row;

}

#filtre p {
    padding: 0;
    margin: 0;
}

#boutons_filtre {
    margin-left: 2%;
    width: 75%;
}

#boutons_preference {
    width: 100%;
}

#catalogue_acc {
    margin-top: 10%;
    padding-left: 4%;
}

#catalogue_acc h3 {
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 1.3rem;
}

#catalogue_acc {
    margin-bottom: 4%;
}




#boutons_preference button {
    background-color: #B4C061;
    opacity: 0.7;
    border: none;
    color: white;
    padding: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 8px;
}


#boutons_filtre button {
    background-color: #B4C061;
    opacity: 0.7;
    border: none;
    color: white;
    padding: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 8px;

}


button:hover {
    opacity: 1;
}

/*barre de recherche*/

#filtre form input {
    background-color: #EAEAEA;
    border-radius: 10px;
    border: none;
    padding: 3%;
    padding-right: 0;
    padding-left: 10%;
    font-size: 1rem;

}

#filtre ::placeholder {
    color: #9E9E9E;
}

/* boite produit */

#collection {
    margin-left: 4%;
}

.box {
    width: 20%;
    background-color: #F3F3F3;
    border-radius: 20px;
}

.box h4 {
    padding-left: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
}

#prix {
    padding-left: 10%;
    color: #89914B;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4%;
    margin-right: 1%;

}

.box img {
    width: 100%;
}

#catalogue_prix {
    display: flex;
    flex-direction: row;
}

#savoir_plus {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1.1rem;
    margin-left: 19%;
    margin-bottom: 7%;
    margin-top: 2%;
    color: black;
}

/* --- locations --- */

#boutons_filtre button:hover {
    opacity: 1;
}

.liste {
    display: flex;
    justify-content: center;
}

.case img {
    width: 15%;
    padding-left: 2%;
}

.case {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    width: 93%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.text-info {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.liste-gauche,
.liste-milieu,
.liste-gauche {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.liste-droit {
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}

.etat-loc {
    background-color: #7E8645;
    color: white;
    border-radius: 5px;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 20%;
    margin-bottom: 55%;

}

.liste-droit button {
    background-color: white;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 13%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 1rem;
}

.liste-milieu {
    padding: 1%;
    margin-right : 25%;
}

.liste-milieu li {
    padding-bottom: 6%;
}

.liste-milieu p{
   margin-bottom : 0;
}

.liste-gauche{
   margin-left : 5%;
   width : 20%;
}


#prix-par {
    display: flex;
    flex-direction: row
}

#prix-loc{
   font-size : 1.8rem;
   margin-bottom : 0;
   margin-top : 8%;
}

#par-mois {
   padding-top :4.5%;
   padding-left : 4.5%;
   margin-bottom : 0;

}

#modele{
   margin-top : 1%;
   margin-bottom : 25%;
}

/* --- FAQ --- */

#titre h1{
   font-size: 3rem;
   font-weight: 400;
   text-align : center;
   padding-top : 2%;
}

.questions {
   display : flex;
   flex-direction: column;
   width : 80%;
   display : block;
   margin : auto;

}

.question {
   padding: 5px;
   display: block;
   cursor: pointer;
   font-size : 1.6rem;
   width : 100%;
   padding-left : 2%;
 }
 .reponse {
  padding-top : 1.5%;
  padding-bottom : 1.5%;
  padding-left : 2%;
   display: none;
 }
 
 input {
   display: none;
 }
 input:checked + .reponse {
   background: rgb(255, 255, 255);
   display: block;
 }

 .faq-question img{
   width : 1.5%;
   height : 1%;
   padding-left : 1%;
   display : flex;
   justify-content : left;
 }

 .faq-question{
   cursor: pointer;
 }

 #quest-img{
   display : flex; 
   flex-direction : row;
   border-bottom: 1px solid rgb(0, 0, 0);
   padding-bottom : 0.3%;
   padding-top : 0.8%;
  
 }

 #quest-img img{
   padding-top : 2%;
  
 }

/* --- apropos --- */

.apropos{
   background-color: #556D23;
   backdrop-filter: blur(30px);
   opacity : 0.9;
   width: 70% ; 
   display:block;
   margin : auto ;
   margin-top: 8%;
   padding : 5%;
   padding-top : 3%;
   color : white;
}