/* composant details */

.img-detail {
    height: 350px;
    margin: 5%;
    margin-right: 8%;
    margin-left: 10%;
    border-radius: 10px;
}

.detail {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}


.info-detail {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    padding-right: 3%;
    margin: 0;
    font-weight: 400;
    padding-bottom: 1%;
}

.info-detail h2 {
    margin: 0;
    font-weight: 400;
    padding-bottom: 1%;
}

.info-detail h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 3%;
    padding-bottom: 3%;
}

#titre-detail {
    font-size: 2rem;
    padding-bottom: 1%;
    margin: 0;
}


.info-detail {
    margin-top: 3%;
    font-size: 1.2rem;
}

div.etat-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5.5%;

}

.prix-detail {
    background-color: #7E8645;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    width: 10%;
    height: 35%;
}

.marg {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: -2%;
}

.ligne-apparente {
    border-bottom: solid black 2px;
    border-collapse: collapse;
    text-align: center;
}

table,
tr {

    border-collapse: collapse;
    text-align: center;
}

table {
    margin-top: 3%;
    margin-bottom: 3%;
}

.colonne-apparente {
    border-right: solid black 2px;
}

/* Formulaire detail */


.question p {
    font-family: "inter";
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


input[type="radio"] {
    display: none;
}


.label_details {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #7E8645;
    border-radius: 20px;
    background-color: white;
    color: #7E8645;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 15px;
    margin-right: 15px;
}


.label_details:hover {
    background-color: #B4C061;
    color: white;
    border: none;
}


input[type="radio"]:checked+.label_details {
    background-color: #B4C061;
    color: white;
    border-color: #B4C061;
}


section.location {
    background-color: #F3F3F3;
    border-radius: 20px;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    margin-top: -50px;
}

main.det {
    display: flex;
    justify-content: center;
    margin-top: 11%;
}

.etat-detail {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

#haut {
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    margin-top: 3%;

}

#inp-loc {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: solid #7E8645 1.5px;
    margin: 2%;
    margin-left: 0;
    transition: border-color 0.3s ease;


}

#inp-loc:focus {
    border-color: #7E8645;
    box-shadow: 0 0 5px #B4C061;

}

#inp-sub {
    display: flex;
    justify-content: end;
    margin-left: 75%;
    margin-top: 2.5%;
    width: 140px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #7E8645;
    color: #F3F3F3;
    font-size: 1.7rem;
}

.dat {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.dat label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.date-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
}

.date-input:focus {
    border-color: #7E8645;
    box-shadow: 0 0 5px #B4C061;

}

div.is {
    height: 200px;

}

#bas input::placeholder {
    padding-left: 2%;
}

#form-loc input::placeholder {
    padding-left: 2%;
}

#form-loc{
    margin-left : 2%;

}

/* details agent */ 

#modifier-details-agent{
    border : none; 
    background : none ; 
    text-align : right;
    margin-bottom : 0;
    margin-top : 3%;
    margin-right : 7%;
}

#modifier-details-agent:hover{
   text-decoration: underline;
}

 

div.etat-detail-agent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5.5%;

}

div.etat-detail-agent p{
    margin-top : 0;

}

#detail-poubelle-titre{
    display : flex ; 
    flex-direction: row;

    justify-content : space-between;


}

#poubelle-detail-agent{
    border : none ;
    background: none;


}
#poubelle-detail-agent img{
    width : 50%;
    float : right ;
}

#poubelle-detail-agent img:hover{
    transform: scale(1.03);
}