/* composant details */

.img-detail{
    height: 450px;
    width: 450px;
    margin: 5%;
    margin-right: 8%;
    border-radius: 10px;
}

.detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F3F3F3;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -40%;
}

.ul-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ul-detail {
    margin: 3%;
   font-size: 1.2rem;
}

.text{
    display: flex;
    flex-direction: column; 
    margin-top: 5%;  
}

div.bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-right: 5.5%;
    margin-left: 5.5%;
}

.bas p {
    width: 100%;
}

.prilo{
    background-color: #7E8645;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 100%;
    height: 35%;
}

.marg {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 5%;
}

#titre-detail{
    font-size: 2rem;
    margin-top: -3%;
    width: auto;
    font-weight: 700;
}


.titre-loc{
    font-family:"inter" ;
  font-weight: 300;  
    font-size: 1.5rem ;
    margin: 15px;
    text-align: center;
}




.question p {
    font-family: "inter";
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


input[type="radio"] {
    display: none;
}


.label_details {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #7E8645;  
    border-radius: 20px;  
    background-color: white;
    color: #7E8645;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 15px;
    margin-right: 15px;
}


.label_details:hover {
    background-color: #B4C061;
    color: white;
    border: none;
}


input[type="radio"]:checked + .label_details {
    background-color: #B4C061;
    color: white;
    border-color: #B4C061;
}


section.location{
    background-color: #F3F3F3;
    border-radius: 20px;
    height: 500px;
    width: 800px;
 display: flex;
 flex-direction: column;
 padding: 20px;
 
 margin-top: -50px;
}

main.det{
    display: flex;
    justify-content: center;
}

#bas{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-right: 50%;
}

#haut{
    display: flex;
    justify-content: space-around;
   margin-right: 50%;
   margin-top: 3%;
    
}

#inp-loc{
    height: 40px;
    width: 300px;
border-radius: 10px;
border: solid #7E8645;
margin: 2%;

}



#inp-sub{
    display: flex;
    justify-content: end;
    margin-left: 75%;
    margin-top: 2.5%;
    width: 140px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #7E8645;
    color: #F3F3F3;
    font-size: 1.7rem;
}

.dat{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.dat label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.date-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
}

.date-input:focus {
    border-color: #7E8645;
    box-shadow: 0 0 5px #B4C061;
    
}

div.is{
    height: 200px;
    
}

.boite_filtres {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
