#titre h1{
    font-size: 3rem;
    font-weight: 400;
    text-align : center;
    padding-top : 2%;
 }
 
 .questions {
    display : flex;
    flex-direction: column;
    width : 80%;
    display : block;
    margin : auto;
 
 }
 
 .question {
    padding: 5px;
    display: block;
    cursor: pointer;
    font-size : 1.6rem;
    width : 100%;
    padding-left : 2%;
  }
  .reponse {
   padding-top : 1.5%;
   padding-bottom : 1.5%;
   padding-left : 2%;
    display: none;
  }
  
  /*input {
    display: none;
  }*/
  input:checked + .reponse {
    background: rgb(255, 255, 255);
    display: block;
  }
 
  .faq-question img{
    width : 1.5%;
    height : 1%;
    padding-left : 1%;
    display : flex;
    justify-content : left;
  }
 
  .faq-question{
    cursor: pointer;
  }

  #quest-img{
    display : flex; 
    flex-direction : row;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom : 0.3%;
    padding-top : 0.8%;
   
  }
 
  #quest-img img{
    padding-top : 2%;
   
  }

  .faq_input {
   display: none;
 }