/* --- Header --- */

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {
    text-decoration: underline;
}

li a {
    display: block;
}

ul li {
    list-style-type: none;
    padding-right: 4%;
    float: left;
}

#menu_page {

    padding-left: 1%;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5%;
}

.right {

    float: right;
    z-index: 1;
}

.left {

    z-index: 1;
    padding-top: 1.5%;
}

#locfit {
    margin-top: -4%;
    text-align: center;
    /*left : 50%;*/
    /*transform: translate(1150%);*/
    padding: 0;
    z-index: 10;
    font-family: "Anton", sans-serif;
    font-size: 2.4em;
}

nav {
     width: 100%;
 }

#logo {
    text-decoration: none;
}

#position {
   width: 50%;
   font-size: 1.3rem;
}


#inscription {
     background-color: #7E8645;
     border-radius: 20px;
     padding: 1.5%;
     padding-left: 2%;
     padding-right: 2%;
     margin-right: 1%;

}

#inscription a {
    color: white;
}

#login {
    padding-top: 1.5%;
}
