.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    margin: 0;
    font-family: "Inter";
    padding : 0;
    color : black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body, html {
  height: 100%; 
}

main {
  flex: 1;
}

.connexion_body {
  background-image: url(/img/greenbg.png);
}

.index_body {
  background-image: url(/img/accueil_fond.png);
  background-size:cover;

}

.footer_background {
  position: absolute;
  bottom: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}
