.image_profil img {

    width: 110%;
    height: 80%;
    padding: 5%;
}

.zone-profil {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.informations-profil {
    margin-left: 8%;
    margin-bottom: 5%;
}

.h4_profil {
    font-weight: 400;
}

.boutons_profil {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 10%;
    margin-left: 30%;
}


#modifier_profil {
    border: none;
    border-radius: 10px;
    padding: 5%;


}

.deconnexion_profil{
    border: none;
    border-radius: 10px;
    padding: 5%;
    margin-bottom : 2%;

}

.deconnexion_profil:hover, #modifier_profil:hover{
border : solid black 1px;

}



.supprimer_profil {
    background-color: white;
    color: red;
    border: none;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.supprimer_profil img {
    width: 7%;
    padding-top: 5%;
    padding-right: 2%;
}

.supprimer_profil:hover {
    text-decoration: underline;
    color: #EB3223;


}

#change_profil {
    width: 30%;
    margin: 0 auto;
    margin-bottom : 5%;
}

#change_profil form {
    display: flex;
    flex-direction: column;
    width : 120%;
    background-color: rgb(245, 243, 243);
    border-radius : 10px;
    padding : 5%;
    padding-top : 1%;

}

#change_profil form ul li label {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#change_profil form ul li h3 {
    margin: 0 auto;
    padding-bottom : 5%;
    padding-top: 3%;
  
}

#change_profil form ul li  {
    display: flex;
   flex-direction: row;
   width : 90%;
   padding-bottom: 2%;
   
}

.modif-bouton-form{
    width : 45%;
    margin: 0 auto;
    border : none ; 
    padding : 2%;
    padding-top : 2%;
    padding-bottom : 2%;
    border-radius : 10px;
    background-color: white;
  
}

.modif-bouton-form p{
    font-size: 1rem;
    margin : 0;
  
}



